.p-category{
    display: flex;
    align-items: center;
    padding: 0 5px 0 0;
    gap: 8px;
    margin: 30px 10px 20px 90px;
}

.p-weight, .p-viewdraw {
    font-family: "Fira Code", monospace;
    font-weight: 600;
    color: #5B5B5A;
}

.p-table{
    margin: 0 10px;
    border: 1px solid #5B5B5A;
    border-radius: 5px;
    padding: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th, table td{
    text-align: center;
}

table td{
    font-family: "Fira Code", monospace;
    font-weight: 600;
    color: #5B5B5A;
}

table tr:nth-child(even){
    background-color: aqua;
}